body {
    font-family: open sans, sans-serif, Arial, Helvetica;
    font-size: 15px;
    font-weight: 400;
    color: #111;


}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.wrapper {
    margin: 0 50px;
    padding: 15px 0;
}

.container {
    padding: 20px;
}

.button {
    display: inline-block;
    font-size: 16px;
    color: #111;
    font-weight: 700;
    margin: 35px 0;
    padding: 11px 16px;
    border: 3px solid #111;
}

.line {
    width: 30px;
    height: 5px;
    background-color: #d2b356;
    margin-top: 30px;
}

.header-title {
    font-size: 14px;
    font-weight: 700;
    color: #ccc;
    letter-spacing: 2px;
    margin-bottom: 15px;
}