.top-border {
    width: 100%;
    padding: 10px;
    background: #ccc;
    position: fixed;
    z-index: 99;
    left: 0;
}

.right-border {
    height: 100%;
    padding: 10px;
    background: #ccc;
    position: fixed;
    z-index: 99;
    top: 0;
    right: 0;
}

.bottom-border {
    width: 100%;
    padding: 10px;
    background: #ccc;
    position: fixed;
    z-index: 99;
    left: 0;
    bottom: 0;
}

.left-border {
    height: 100%;
    padding: 10px;
    background: #ccc;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
}